<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starblog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="preload" href="https://luke.hsiao.dev/fonts/Berkeley Mono Variable.woff2" as="font" type="font/woff2" crossorigin="">
</head>
<body>
    <header>
        <h1 class="title"><a href="/"><img src="{{ url_for('static', filename='favicon-white.svg') }}" class="icon"> <span>mathias</span></a></h1>
    </header>

    <nav>
        <a href="/">Home</a>
    </nav>

    <main>
        <h1>New blog</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at tellus elit. Phasellus eleifend aliquam ante, sed gravida dolor blandit in. Why are you reading it. Suspendisse gravida semper auctor. In eget nibh libero. Aenean enim diam, vestibulum eu ante non, volutpat cursus nunc.</p>
    </main>
</body>
</html>
