<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starblog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="preload" href="https://luke.hsiao.dev/fonts/Berkeley Mono Variable.woff2" as="font" type="font/woff2" crossorigin="">
</head>
<body>
    <header>
        <h1 class="title"><a href="/">✮ <span>mathias</span></a></h1>
    </header>

    <nav>
        <a href="/">Home</a>
    </nav>

    <main>
        <h1>New blog</h1>
        <p>I finally made a blog that I'm happy about and don't look too weird</p>
    </main>
</body>
</html>